*.suo
/Computer Info C++/Debug
/Computer Info C++/Computer Info C++/Debug
/Computer Info C#/Computer Info/obj
/Computer Info C#/Computer Info/bin/Debug/ComputerInfo.exe
/Computer Info C#/Computer Info/bin/Debug/ComputerInfo.pdb
/Computer Info C#/Computer Info/bin/Debug/ComputerInfo.vshost.exe.manifest
/Computer Info C#/Computer Info/bin/Debug/ComputerInfo.vshost.exe
/Computer Info C# Updater/Computer Info Updater/bin/Debug
/Computer Info C# Updater/Computer Info Updater/obj